@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

.hamburger_content {
  display: none;
  width: 375px;
  height: 580px;
  background-color: black;
}

.hamburger_content .open_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 32px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.hamburger_content .open_close i {
  font-size: 27px;
  margin-top: 3px;
  color: white;
}

.hamburger_content .hamburger_category {
  display: block;
  margin-top: 100px;
  margin-left: 20px;
}

.hamburger_content .hamburger_category div {
  color: white;
  margin: 20px 0 30px 0;
  font-size: 20px;
  font-weight: 300;
}

.img_div {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img_div img {
  height: 80vh;
  width: 100%;
}

.nav_absolute {
  position: absolute;
  margin: 30px 100px 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.nav_absolute img {
  width: 200px;
  height: 40px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 15px;
  width: 40%;
  color: white;
  cursor: pointer;
}

.navigation div::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  -webkit-transition: width 0.5s ease, background-color 0.5s ease;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.navigation div:hover:after {
  width: 100%;
  background: white;
}

.Immersive {
  height: 200px;
  width: 450px;
  position: absolute;
  border: 2px solid white;
  margin-top: -50vh;
  margin-left: 135px;
  border-radius: 2px;
}

.Immersive_h1 {
  text-align: left;
  margin: 15px;
  font-size: 43px;
  letter-spacing: 3px;
  color: white;
  font-weight: 300;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.mainInfo {
  margin: 70px 100px 0px 135px;
}

.mainInfo .interactive_div {
  width: 700px;
  height: 450px;
}

.interact_div {
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 500px;
  height: 292px;
  margin-left: 37%;
  margin-top: 14%;
}

.our_creation_nav {
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.see_all {
  line-height: 5vh;
  font-weight: 400;
  border: 1px solid white;
  background-color: black;
  height: 5vh;
  color: white;
  width: 100px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.see_all:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.posters {
  margin-top: 20px;
}

.posters img {
  width: 90%;
  height: 400px;
  cursor: pointer;
}

.posters td {
  padding-right: 10px;
  padding-top: 10px;
}

.posters td:hover h1 {
  color: black;
  font-weight: 300;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.posters td:hover img {
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.posters h1 {
  color: white;
  font-weight: 300;
  position: absolute;
  margin-top: -100px;
  margin-left: 30px;
}

.footer {
  margin-top: 100px;
  background-color: black;
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer_in {
  width: 80%;
  height: 70%;
  margin: auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.footer .footer_in .footer_nav img {
  height: 30px;
}

.footer .footer_in .footer_nav .footer_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer .footer_in .footer_nav .footer_nav_list div {
  color: white;
  padding-right: 20px;
  cursor: pointer;
}

.footer .footer_in .footer_nav .footer_nav_list div::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  -webkit-transition: width 0.5s ease, background-color 0.5s ease;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.footer .footer_in .footer_nav .footer_nav_list div:hover:after {
  width: 100%;
  background: white;
}

.footer .footer_in .soc_logos {
  float: right;
}

.footer .footer_in .soc_logos a {
  margin-right: 10px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */