$small: 375px

@media screen and (max-width: $small)
    .navigation
        display: none
    .nav_absolute
        margin-top: 50px
        width: 100%
        display: flex
        justify-content: space-around

        img
            height: 30px
            width: 150px
            margin-left: -10px
            margin-right: auto
            margin-top: auto

        .hamburger
            display: block
            height: 30px
            width: 30px
            text-align: center
            i
                font-size: 25px
    .Immersive
        margin-left: 60px
        height: auto
        width: 260px
        h1
            font-size: 30px

    .mainInfo
        margin-top: 50px
        margin-left: auto
        margin-right: auto

    .interact_div
        position: relative

    .interactive_img
        height: 230px
        margin-left: 20px
