@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 320px) {
  body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .Header_parrent {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #202c38;
    -webkit-box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 100%;
    height: 15vh;
    padding: 0;
  }
  body .Header_parrent .Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 15px 0px 15px;
  }
  body .Header_parrent .Header .homeBtn h1 {
    color: white;
    font-size: 16px;
  }
  body .Header_parrent .Header .modes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  body .Header_parrent .Header .modes div {
    padding-top: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: white;
    font-size: 14px;
  }
  body .Header_parrent .Header .modes div i {
    padding-right: 5px;
  }
  body .search_bar {
    display: block;
  }
  body .search_bar .search_by_name {
    margin-top: 20px;
  }
  body .search_bar .search_by_name .fm-control {
    position: relative;
    margin: 0 30px 0px 30px;
  }
  body .search_bar .search_by_name .fm-control i {
    position: absolute;
    left: 20px;
    top: 14px;
    color: white;
  }
  body .search_bar .search_by_name .fm-control .searchCountry {
    width: 100%;
    height: 45px;
    background-color: #2b3945;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: -1px 2px 20px 5px rgba(0, 0, 0, 0.05);
            box-shadow: -1px 2px 20px 5px rgba(0, 0, 0, 0.05);
    padding-left: 50px;
    outline-style: none;
    color: white;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
  }
  body .search_bar .select_continent {
    margin-top: 20px;
    margin-left: 30px;
  }
  body .search_bar .select_continent .select {
    width: 170px;
    height: 40px;
    padding-left: 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #2b3945;
    -webkit-box-shadow: -1px 2px 20px 5px rgba(0, 0, 0, 0.05);
            box-shadow: -1px 2px 20px 5px rgba(0, 0, 0, 0.05);
    color: white;
    outline-style: none;
  }
  body .country_divs {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body .country_divs .inner_div {
    margin-top: 40px;
  }
  body .country_divs .inner_div .toCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
  body .country_divs .inner_div .toCenter img {
    width: 250px;
    height: auto;
    margin: auto;
  }
  body .country_divs .inner_div .more_options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .country_divs .inner_div .more_options .toCenter2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 78%;
  }
  body .country_divs .inner_div .more_options .toCenter2 a {
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
  body .country_divs .inner_div .more_options .toCenter2 button {
    border: none;
    border-radius: 2px;
    width: 70px;
    color: white;
    background-color: #2b3945;
    -webkit-box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.05);
            box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.05);
  }
  body .Country {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
  }
  body .Country a {
    text-decoration: none;
  }
  body .Country a .go_back {
    width: 100px;
    height: 30px;
    background-color: #2b3945;
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.05);
            box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.05);
    outline-style: none;
    font-size: 16px;
    color: white;
  }
  body .Country a .go_back i {
    padding-right: 10px;
  }
  body .Country .info_content {
    margin-top: 30px;
  }
  body .Country .info_content .info {
    margin-top: 30px;
    display: block;
  }
  body .Country .info_content .info .img_div {
    width: auto;
    height: auto;
    margin: 0;
  }
  body .Country .info_content .info .img_div img {
    width: 300px;
    height: auto;
  }
  body .Country .info_content .info .other_info h1 {
    color: white;
  }
  body .Country .info_content .info .other_info .other_info_child .first_info {
    color: white;
  }
  body .Country .info_content .info .other_info .other_info_child .second_info {
    color: white;
    margin-top: 30px;
  }
  body .Country .info_content .info .other_info .borders {
    color: white;
    margin-top: 50px;
  }
  body .Country .info_content .info .other_info .borders .border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -10px;
    list-style-type: none;
  }
  body .Country .info_content .info .other_info .borders .border ul {
    text-align: center;
    list-style: inside;
    list-style-type: none;
  }
  body .Country .info_content .info .other_info .borders .border ul li {
    text-align: center;
  }
}

@media (min-width: 360px) {
  body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .Header_parrent {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #202c38;
    -webkit-box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 100%;
    height: 15vh;
    padding: 0;
  }
  body .Header_parrent .Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 15px 0px 15px;
  }
  body .Header_parrent .Header .homeBtn h1 {
    color: white;
    font-size: 16px;
  }
  body .Header_parrent .Header .modes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  body .Header_parrent .Header .modes div {
    padding-top: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: white;
    font-size: 14px;
  }
  body .Header_parrent .Header .modes div i {
    padding-right: 5px;
  }
  body .search_bar {
    display: block;
  }
  body .search_bar .search_by_name {
    margin-top: 20px;
  }
  body .search_bar .search_by_name .fm-control {
    position: relative;
    margin: 0 30px 0px 30px;
  }
  body .search_bar .search_by_name .fm-control i {
    position: absolute;
    left: 20px;
    top: 14px;
    color: white;
  }
  body .search_bar .search_by_name .fm-control .searchCountry {
    width: 100%;
    height: 45px;
    background-color: #2b3945;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: -1px 2px 20px 5px rgba(0, 0, 0, 0.05);
            box-shadow: -1px 2px 20px 5px rgba(0, 0, 0, 0.05);
    padding-left: 50px;
    outline-style: none;
    color: white;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
  }
  body .search_bar .select_continent {
    margin-top: 20px;
    margin-left: 30px;
  }
  body .search_bar .select_continent .select {
    width: 170px;
    height: 40px;
    padding-left: 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #2b3945;
    -webkit-box-shadow: -1px 2px 20px 5px rgba(0, 0, 0, 0.05);
            box-shadow: -1px 2px 20px 5px rgba(0, 0, 0, 0.05);
    color: white;
    outline-style: none;
  }
  body .country_divs {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body .country_divs .inner_div {
    margin-top: 40px;
  }
  body .country_divs .inner_div .toCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
  body .country_divs .inner_div .toCenter img {
    width: 250px;
    height: auto;
    margin: auto;
  }
  body .country_divs .inner_div .more_options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .country_divs .inner_div .more_options .toCenter2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 70%;
  }
  body .country_divs .inner_div .more_options .toCenter2 a {
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
  body .country_divs .inner_div .more_options .toCenter2 button {
    border: none;
    border-radius: 2px;
    width: 70px;
    color: white;
    background-color: #2b3945;
    -webkit-box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.05);
            box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.05);
  }
  body .Country {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
  }
  body .Country a {
    text-decoration: none;
  }
  body .Country a .go_back {
    width: 100px;
    height: 30px;
    background-color: #2b3945;
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.05);
            box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.05);
    outline-style: none;
    font-size: 16px;
    color: white;
  }
  body .Country a .go_back i {
    padding-right: 10px;
  }
  body .Country .info_content {
    margin-top: 30px;
  }
  body .Country .info_content .info {
    margin-top: 30px;
    display: block;
  }
  body .Country .info_content .info .img_div {
    width: auto;
    height: auto;
    margin: 0;
  }
  body .Country .info_content .info .img_div img {
    width: 300px;
    height: auto;
  }
  body .Country .info_content .info .other_info h1 {
    color: white;
  }
  body .Country .info_content .info .other_info .other_info_child .first_info {
    color: white;
  }
  body .Country .info_content .info .other_info .other_info_child .second_info {
    color: white;
    margin-top: 30px;
  }
  body .Country .info_content .info .other_info .borders {
    color: white;
    margin-top: 50px;
  }
  body .Country .info_content .info .other_info .borders .border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -10px;
    list-style-type: none;
  }
  body .Country .info_content .info .other_info .borders .border ul {
    text-align: center;
    list-style: inside;
    list-style-type: none;
  }
  body .Country .info_content .info .other_info .borders .border ul li {
    text-align: center;
  }
}

@media (min-width: 375px) {
  body .Header_parrent {
    height: 10vh;
  }
  body .Header_parrent .Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 15px 0px 15px;
  }
  body .Header_parrent .Header .homeBtn h1 {
    color: white;
    font-size: 20px;
  }
  body .Header_parrent .Header .homeBtn .modes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  body .Header_parrent .Header .homeBtn .modes div {
    padding-top: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: white;
    font-size: 16px;
  }
  body .Header_parrent .Header .homeBtn .modes div i {
    padding-right: 5px;
  }
  body .country_divs .inner_div .toCenter img {
    width: 300px;
  }
  body .country_divs .inner_div .more_options .toCenter2 {
    width: 80%;
  }
}

@media (min-width: 411) {
  body .Header_parrent {
    height: 10vh;
  }
  body .Header_parrent .Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 15px 0px 15px;
  }
  body .Header_parrent .Header .homeBtn h1 {
    color: white;
    font-size: 20px;
  }
  body .Header_parrent .Header .homeBtn .modes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  body .Header_parrent .Header .homeBtn .modes div {
    padding-top: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: white;
    font-size: 16px;
  }
  body .Header_parrent .Header .homeBtn .modes div i {
    padding-right: 5px;
  }
  body .country_divs .inner_div .toCenter img {
    width: 300px;
  }
  body .country_divs .inner_div .more_options .toCenter2 {
    width: 80%;
  }
}

@media (min-width: 768px) {
  body .Header_parrent {
    height: 10vh;
  }
  body .Header_parrent .Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 40px 0px 40px;
  }
  body .Header_parrent .Header .homeBtn h1 {
    color: white;
    font-size: 25px;
  }
  body .Header_parrent .Header .modes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  body .Header_parrent .Header .modes div {
    padding-top: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: white;
    font-size: 16px;
  }
  body .Header_parrent .Header .modes div i {
    font-size: 20px;
  }
  body .Header_parrent .Header .modes div span {
    font-size: 20px;
  }
  body .country_divs {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  body .country_divs .inner_div .toCenter img {
    width: 300px;
  }
  body .country_divs .inner_div .more_options .toCenter2 {
    width: 78%;
  }
  body .country_divs .inner_div .more_options .toCenter2 button {
    height: 30px;
  }
}

@media (min-width: 1024px) {
  body .Header_parrent {
    height: 8vh;
  }
  body .search_bar .search_by_name {
    margin-top: 50px;
  }
  body .search_bar .search_by_name .fm-control i {
    left: 45px;
    top: 19px;
    font-size: 20px;
  }
  body .search_bar .search_by_name .fm-control .searchCountry {
    height: 60px;
    padding-left: 100px;
    font-size: 20px;
  }
  body .search_bar .select_continent {
    margin-top: 30px;
  }
  body .search_bar .select_continent .select {
    width: 300px;
    height: 50px;
    font-size: 20px;
  }
  body .country_divs .inner_div .toCenter h3 {
    font-size: 25px;
    font-weight: 500;
  }
  body .country_divs .inner_div .toCenter h4 {
    font-size: 20px;
    font-weight: 500;
  }
  body .country_divs .inner_div .more_options .toCenter2 {
    width: 60%;
  }
  body .country_divs .inner_div .more_options .toCenter2 a {
    font-size: 20px;
  }
  body .country_divs .inner_div .more_options .toCenter2 button {
    width: 100px;
    height: 40px;
    font-size: 18px;
  }
  body .Country a .go_back {
    width: 150px;
    height: 40px;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
  }
  body .Country .info_content .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .Country .info_content .info .img_div {
    width: auto;
    height: auto;
  }
  body .Country .info_content .info .img_div img {
    width: 400px;
  }
  body .Country .info_content .info .other_info h1 {
    margin-top: 0;
  }
  body .Country .info_content .info .other_info .other_info_child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .Country .info_content .info .other_info .other_info_child .second_info {
    margin-top: 0;
  }
}

@media (min-width: 1366px) {
  body .Header_parrent {
    height: 13vh;
  }
  body .Header_parrent .Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 30px 0px 30px;
  }
  body .search_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  body .search_bar .search_by_name {
    margin-top: 0;
  }
  body .search_bar .search_by_name .fm-control {
    margin-left: 0;
  }
  body .search_bar .search_by_name .fm-control i {
    left: 25px;
    top: 8px;
    font-size: 16px;
  }
  body .search_bar .search_by_name .fm-control .searchCountry {
    width: 350px;
    height: 35px;
    padding-left: 50px;
    font-size: 16px;
    animatio: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
  }
  body .search_bar .select_continent {
    margin-top: 0;
  }
  body .search_bar .select_continent .select {
    width: 200px;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
  }
  body .country_divs {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  body .country_divs .inner_div .more_options .toCenter2 {
    width: 90%;
  }
  body .country_divs .inner_div .more_options .toCenter2 a {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  body .country_divs .inner_div .more_options .toCenter2 a:hover {
    color: blue;
  }
  body .country_divs .inner_div .more_options .toCenter2 .removeCountry {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
  }
  body .country_divs .inner_div .more_options .toCenter2 .removeCountry:hover {
    background-color: red;
    color: white;
  }
  body .Country {
    padding-left: 30px;
    padding-right: 30px;
  }
  body .Country a .go_back {
    cursor: pointer;
  }
  body .Country .info_content .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .Country .info_content .info .img_div {
    width: auto;
    height: auto;
  }
  body .Country .info_content .info .img_div img {
    width: 500px;
  }
}
/*# sourceMappingURL=responsive.css.map */