
@media (max-width: 320px)
    body
        margin: 0
        padding: 0
        box-sizing: border-box
        .Header_parrent
            width: 90%

            .Header
                padding: 0
                .modes
                    font-size: 15px
                    padding-top: 3px
                .homeBtn
                    width: auto
                    .appName
                        font-size: 16px

        .Country
            .info_content
                .info
                    display: block
                    .img_div
                        width: 310px
                        height: auto
                        margin: 0
                    .other_info
                        h1
                            margin: 30px 0 20px 0
                        .other_info_child
                            display: block
                            margin: 0
                            .first_info
                                font-size: 14px
                            .second_info
                                margin-top: 40px
                                font-size: 14px
                        .borders
                            margin: 30px 0 10px 0
                            display: block
                            .border
                                width: 270px

                                display: flex
                                flex-wrap: wrap
                                justify-content: flex-start
                                margin-left: -40px
                                line-height: 25px
                                li
                                    width: 50px
        .search_bar
            display: block
            .select_continent
                margin-top: 10px

@media (min-width: 360px)
    body
        margin: 0
        padding: 0
        box-sizing: border-box
        .Header_parrent
            width: 90%
            .Header
                padding: 0
                .homeBtn
                    width: auto
                    .appName
                        font-size: 16px

        .Country
            .info_content
                .info
                    display: block
                    .img_div
                        width: 310px
                        height: auto
                        margin: 0
                    .other_info
                        h1
                            margin: 30px 0 20px 0
                        .other_info_child
                            display: block
                            margin: 0
                            .first_info
                                font-size: 14px
                            .second_info
                                margin-top: 40px
                                font-size: 14px
                        .borders
                            margin: 30px 0 10px 0
                            display: block
                            .border
                                width: 270px

                                display: flex
                                flex-wrap: wrap
                                justify-content: flex-start
                                margin-left: -40px
                                line-height: 25px
                                li
                                    width: 50px

    .search_bar
        width: 100%
        display: block
        .select_continent
            margin-top: 10px
            .select
                width: 250px
        .searchCountry
            width: 200px
            font-size: 15px

    .country_divs
        grid-template-columns: repeat(1,1fr)

@media (min-width:411px)
    body
        margin: 0
        padding: 0
        box-sizing: border-box
        .Header_parrent
            width: 90%
            .Header
                padding-left: 0
                padding-right: 0
                .homeBtn
                    width: auto
                    .appName
                        font-size: 16px

        .Country
            .info_content
                .info
                    display: block
                    .img_div
                        width: 310px
                        height: auto
                        margin: 0
                    .other_info
                        h1
                            margin: 30px 0 20px 0
                        .other_info_child
                            display: block
                            margin: 0
                            .first_info
                                font-size: 14px
                            .second_info
                                margin-top: 40px
                                font-size: 14px
                        .borders
                            margin: 30px 0 10px 0
                            display: block
                            .border
                                width: 270px

                                display: flex
                                flex-wrap: wrap
                                justify-content: flex-start
                                margin-left: -40px
                                line-height: 25px
                                li
                                    width: 50px

    .search_bar
        width: 90%

        .searchCountry
            width: 160px
            font-size: 12px
        .select_continent
            width: 100%

    .country_divs
        grid-template-columns: repeat(1,1fr)

@media (min-width: 768px)
    .Header_parrent
        width: 90%
        .Header
            padding: 0

            .appName
                font-size: 20px
            .modes
                font-family: "Roboto",sans-serif
    .search_bar
        width: 94%
        display: flex
        justify-content: space-between
        .select_continent
            margin-top: 0
            width: auto

        .searchCountry
            width: auto
            font-size: 15px

    .country_divs
        grid-template-columns: repeat(3,1fr)

@media ( min-width:992px )
    .Header_parrent
        width: 100%
        .Header
            margin-left: 30px
            margin-right: 30px
            width: 100%

    .search_bar
        width: 97%

        .searchCountry
            width: 200px
            font-size: 12px

    .country_divs
        grid-template-columns: repeat(4,2fr)
